<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.icleanmobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IcleanMobile"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ContratanteList5"
            android:exported="false" />
        <activity
            android:name=".ContratanteList4"
            android:exported="false" />
        <activity
            android:name=".ContratanteList3"
            android:exported="false" />
        <activity
            android:name=".ContratanteList2"
            android:exported="false" />
        <activity
            android:name=".ContratanteList"
            android:exported="false" />
        <activity
            android:name=".ContratanteSearch4"
            android:exported="false" />
        <activity
            android:name=".ContratanteSearch3"
            android:exported="false" />
        <activity
            android:name=".ContratanteSearch2"
            android:exported="false" />
        <activity
            android:name=".ContratanteSearch"
            android:exported="false" />
        <activity
            android:name=".ContratanteNewService5"
            android:exported="false" />
        <activity
            android:name=".ContratanteNewService4"
            android:exported="false" />
        <activity
            android:name=".ContratanteNewService3"
            android:exported="false" />
        <activity
            android:name=".ContratanteNewService2"
            android:exported="false" />
        <activity
            android:name=".ContratanteNewService"
            android:exported="false" />
        <activity
            android:name=".ContratanteProfile"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/maps_apikey" />

        <activity
            android:name=".ConvitesContratada"
            android:exported="false" />
        <activity
            android:name=".TrabalhosContratada"
            android:exported="false" />
        <activity
            android:name=".PpContratada"
            android:exported="false" />
        <activity
            android:name=".PpContratante"
            android:exported="false" />
        <activity
            android:name=".PrimeirosPassos"
            android:exported="false" />
        <activity
            android:name=".CadastroEmail"
            android:exported="false" />
        <activity
            android:name=".Cadastro"
            android:exported="false" />
        <activity
            android:name=".TipoCadastro"
            android:exported="false" />
        <activity
            android:name=".MapaCadastro"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>